
body {
	margin:0px;
	font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
	background-color:#252525;
}

ul{
	margin:0px;
}

.header{
	margin:0px;
	min-width: 700px;
	width:100%;
	position:fixed;
	z-index: 10;
	top:0px;
	left:0px;
}

.header-right{
	color:#b5b5b5;
	height:30px;
	background-color:#6d6d6d;
	width:100%;
	}

.header-right li{
	float:right;
	list-style: none;
	padding:0px 5px;
	padding-right:5px;
	border-left: 1px dotted #DDDDDD;
}

.header-left{
	float:left;
	size:15px;
	color:white;
	margin:0px 0px;
}

.top-wrapper{
	background-image: url(../img/image1.jpg);
	background-size:100%;
	height: 600px;
	text-align: center;
	min-width: 900px;
		margin:0px auto;
}

.container h1{
	opacity: 0.7;
	letter-spacing: 6px;
	width:790px;
	padding-top:200px;
	margin:0px auto;
	color:white;
	font-size:100px;
	padding-bottom:30px;
}

.container p{
	width:600px;
	color:white;
	margin:0px auto;
}

.btn-wrapper p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.facebook{
background-color:#3b5998;
margin-right:10px;
}

.twitter{
background-color:#55acee;
}

.btn{
border-radius:4px;
margin-top:50px;
padding:8px 24px;
color:white;
display:inline-block;
}

.btn:active{
	background-color:#555555;
}

.btn:hover{
	color:black;
	background-color:#999999;
}

.content{
	width:100%;
	min-width: 1000px;
}

.left-contents{
	background-color:#777EFF;
	float: left;
	min-width: 300pt;
	width: 70%;
	height: 1000px;
}

.left-contents h1,h2{
	color:#eeeeee;
	background-color: #451717;
	margin:0px;
}

.left-contents p{
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom:0px;
	background-color: #EDBCB4;
}

.right-contents{
	float: left;
	background-color:#cc9966;
	width: 30%;
	height: 1000px;
	min-width: 160pt;
}

footer{
	overflow: hidden;
	height: 50px;
	width: 100%;
	background-color: #333333;
}

footer p{
	padding: 5px;
	margin: 0px;
	color:white;
}